body{
  background-color: #B4EB79;
  background-repeat:no-repeat;
  cursor:url('../images/hand.png'),auto;
}

h1{
  font-size: 20px;
  text-align: center;
  color: orange;
  background-color:#D0EDAD;
  cursor:url('../images/hand.png'),auto;
}
h1:hover{
   color:#712CF5;
   background-color: #EAC2E2;
   cursor:url('../images/hand.png'),auto;
}

a{
  cursor:url('../images/hand.png'),auto;
}
